@using SertWebApp.Enums
@model SertWebApp.Models.ViewModels.ChangePasswordViewModel
<div class="container">
    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { id = "changePasswordForm" }))
    {
        @Html.HiddenFor(m => m.Id)
        <input type="hidden" name="Id" id="userId" value="@Model.Id" />
        <div class="row mb-2">
            <div class="col-sm-4 font-weight-bold">Current Password:</div>
            <div class="col-sm-8">
                @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.CurrentPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-4 font-weight-bold">New Password:</div>
            <div class="col-sm-8">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-4 font-weight-bold">Confirm Password:</div>
            <div class="col-sm-8">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>