@using SertWebApp.Enums
@{
    ViewData["Title"] = "Admin List";
}

<div class="container-fluid px-4">
    <h1 class="mt-1">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="row">
    </div>
    <div class="row">
    </div>
    <div class="row">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-table"></i>
                <span>List of all admins</span>
            </div>
            <div class="card-body">
                <table id="tblAdmins" class="table table-hover table-striped table-responsive">
                </table> @* needs to have this closing tag explicitly, otherwise footer will display atop the table *@
            </div>
        </div>

        <!-- Modal -->
        <div id="adminModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="adminModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="adminModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer d-flex justify-content-between">
                        <div>
                            <button id="btnChangePassword" type="button" class="btn btn-sm btn-outline-danger" data-bs-target="#changePasswordModal" data-bs-toggle="modal" data-bs-dismiss="modal">Change Password</button>
                        </div>
                        <div>
                            <button id="btnCancel" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="btnSave" type="button" class="btn btn-success btn-save-admin">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Change Password Modal -->
        <div id="changePasswordModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button id="btnCancel" type="button" class="btn btn-secondary" data-bs-target="#adminModal" data-bs-toggle="modal" data-bs-dismiss="modal">Cancel</button>
                        <button id="btnSave" type="button" class="btn btn-success btn-change-password">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(() => {
            let adminPopup = new bootstrap.Modal(document.getElementById('adminModal'));

            function showPopup(content) {
                // create the content first to load the correct PageMode
                $('#adminModal .modal-body').html(content);

                let pageMode = $('#PageMode').val();
                let title = "", saveBtnLabel = "", cancelBtnLabel = "";

                switch (pageMode) {
                    case "Add":
                        title = "Add New Admin";
                        saveBtnLabel = "Add";
                        cancelBtnLabel = "Close";
                        break;
                    case "Update":
                        title = "Update Details";
                        saveBtnLabel = "Save";
                        cancelBtnLabel = "Cancel";
                        break;
                    case "Delete":
                        title = "Delete Admin";
                        saveBtnLabel = "Yes";
                        cancelBtnLabel = "No";
                        break;
                    default:
                        console.log("Invalid page mode.");
                }

                $('#adminModal .modal-title').text(title);
                $('#btnSave').text(saveBtnLabel);
                $('#btnCancel').text(cancelBtnLabel);

                $('.modal-dialog').draggable({
                    handle: ".modal-header",
                    cursor: "move"
                });
                
                adminPopup.show();
                adminPopup.handleUpdate();
            }

            function reloadTable() {
                $('#tblAdmins').DataTable().ajax.reload();
            }

            // Add
            $(".card-body").on('click', '.btn-add-admin', function () {
                $.ajax({
                    url: '@Url.Action("Add", "User")',
                    type: 'GET',
                    data: { isAdmin: true },
                    success: function (result) {
                        showPopup(result);
                    },
                    error: function (xhr, status, error) {
                        toastr.error(xhr.responseText);
                    }
                });
            });

            // Update
            $('.card-body').on('click', '.btn-edit-admin', function () {
                let adminId = $(this).data('admin-id');
                $.ajax({
                    url: '@Url.Action("Edit", "User")',
                    type: 'GET',
                    data: { id: adminId, isAdmin: true },
                    success: function (result) {
                        showPopup(result);
                    },
                    error: function (xhr, status, error) {
                        toastr.error(xhr.responseText);
                    }
                });
            });

            // Delete
            $('.card-body').on('click', '.btn-delete-admin', function () {
                let adminId = $(this).data('admin-id');
                $.ajax({
                    url: '@Url.Action("Delete", "User")',
                    type: 'GET',
                    data: { id: adminId, isAdmin: true },
                    success: function (result) {
                        showPopup(result);
                    },
                    error: function (xhr, status, error) {
                        toastr.error(xhr.responseText);
                    }
                });
            });

            // Save Actions
            $('#adminModal').on('click', '.btn-save-admin', function (event) {
                event.preventDefault();

                let formData = $('#userForm').serialize();

                $.ajax({
                    url: '@Url.Action("Save", "User")',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        let hasValidationErrors = result.includes("field-validation-error");

                        if (hasValidationErrors) {
                            // refresh content to show validation errors
                            showPopup(result);
                        }
                        else {
                            adminPopup.hide();
                            toastr.success('Success.');
                            // temporary fix to show the toastr
                            reloadTable();
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error(xhr.responseText);
                    }
                });
            });

            // Change password
            $('.modal-footer').on('click', '#btnChangePassword', function () {
                let userId = $('#userId').val();
                let username = $('#username').val();
                $.ajax({
                    url: '@Url.Action("ChangePassword", "User")',
                    type: 'GET',
                    data: { id: userId, isAdmin: false },
                    success: function (result) {
                        $('#changePasswordModal .modal-title').html(`Changing password for: <mark>${username}</mark>`);
                        $('#changePasswordModal .modal-body').html(result);

                        $('.modal-dialog').draggable({
                            handle: ".modal-header",
                            cursor: "move"
                        });
                    },
                    error: function (xhr, status, error) {
                        toastr.error(xhr.responseText);
                    }
                });
            });

            $('#changePasswordModal').on('click', '.btn-change-password', function (event) {
                event.preventDefault();

                let formData = $('#changePasswordForm').serialize();

                $.ajax({
                    url: '@Url.Action("ChangePassword", "User")',
                    type: 'POST',
                    data: formData,
                    success: function (result) {
                        let hasValidationErrors = result.includes("field-validation-error");

                        let changePasswordModal = document.querySelector('#changePasswordModal');
                        let changePasswordPopup = bootstrap.Modal.getOrCreateInstance(changePasswordModal);

                        if (hasValidationErrors) {
                            // refresh content to show validation errors
                            $('#changePasswordModal .modal-body').html(result);

                            $('.modal-dialog').draggable({
                                handle: ".modal-header",
                                cursor: "move"
                            });

                            changePasswordPopup.handleUpdate();
                        }
                        else {
                            changePasswordPopup.toggle();
                            adminPopup.toggle();
                            toastr.success('Success.');
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error(xhr.responseText);
                    }
                });
            });
        });
    </script>
}

